
<html>
    <body>
        <h1>Bienvenido a Gato</h1>
        <br />
		<p>Es turno del jugador <%= @@tb.turno %></p>
        <%= @@tb.display()%>
        <a href="/" id="restart-game">Reiniciar</a>
    </body>
</html>
